.console{--maxHeight:30vh;position:fixed;bottom:0;background-color:#1f1f21;width:100vw;padding:1em;color:#c9c9d6;border-top:1px solid gray;overflow-y:auto;height:10ch;will-change:max-height height;max-height:0;animation:showConsole ease-out .5s forwards;transition:height ease-out .3s;white-space:pre-line;z-index:666}.console:hover{height:var(--maxHeight)}@keyframes showConsole{from{max-height:0vh}to{max-height:var(--maxHeight)}}




.console {
	--maxHeight: 30vh;
	position: fixed;
	bottom: 0;
	background-color: #1f1f21;
	width: 100vw;
	padding: 1em;
	color: #c9c9d6;
	border-top: 1px solid gray;
	overflow-y:auto;
	height: 10ch;
	will-change: max-height height;
	max-height: 0;
	animation: showConsole ease-out .5s forwards;
	transition: height ease-out .3s;
	white-space: pre-line;
	z-index: 666;
}

.console:hover {
  height: var(--maxHeight);
}

@keyframes showConsole {
  from { max-height: 0vh; }
  to { max-height: var(--maxHeight); }
}
